body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
}

a {
  text-decoration: none;
}

#main-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(29, 26, 24);
  padding: 0 20px;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(231, 164, 80);
  text-transform: uppercase;
  margin-top: 25px;
}

#main-header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 25px 16px 0 16px;
}

#main-header nav a {
  text-decoration: none;
  color: rgb(185, 131, 31);
  font-size: 20px;
}

#main-header nav a:hover {
  color: rgb(153, 109, 28);
}

main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 48px;
}

#latest-product {
  width: 80%;
  margin: 50px auto;
}

#latest-product ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.food-items {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  overflow: hidden;
}

.food-items img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
  padding: 16px;
  text-align: center;
  font-size: 1em;
}

/* h2 {
  font-size: 1 rem;
} */

.btn {
  text-decoration: none;
  padding: 8px 24px;
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 4px;
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}
